<!-- Footer -->
<footer>
    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <p></p>
                    <img src="../../../../assets/images/logo_white.png" alt="">
                    <p>
                        We’re your online houseplant destination. We offer a wide range of houseplants and accessories
                        shipped directly from our green-house to yours!
                    </p>
                    <p>Exclusive offers & first access</p>
                    <div class="example-container">
                        <mat-form-field>
                            <mat-label>Enter your email</mat-label>
                            <input matInput placeholder="Email" required>
                            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                            <mat-icon matSuffix aria-hidden="false" aria-label="keyboard_arrow_right icon"
                                fontIcon="keyboard_arrow_right"></mat-icon>
                        </mat-form-field>
                    </div>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <p></p>
                    <!-- Links -->
                    <h5 class="text-uppercase fw-bold mb-4">
                        <strong>About</strong>
                    </h5>
                    <p>
                        <a routerLink="/complex-form" class="text-reset">Team</a>
                    </p>
                    <p>
                        <a routerLink="/complex-form" class="text-reset">Careers</a>
                    </p>
                    <p>
                        <a routerLink="/complex-form" class="text-reset">Digital Accessibility</a>
                    </p>
                    <p>
                        <a routerLink="/complex-form" class="text-reset">Brand Protection</a>
                    </p>
                    <p>
                        <a routerLink="/complex-form" class="text-reset">FAQ</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <p></p>
                    <!-- Links -->
                    <h5 class="text-uppercase fw-bold mb-4">
                        Stores
                    </h5>
                    <p>
                        <a routerLink="/complex-form" class="text-reset">California</a>
                    </p>
                    <p>
                        <a routerLink="/complex-form" class="text-reset">New York</a>
                    </p>
                    <p>
                        <a routerLink="/complex-form" class="text-reset">Los Angeles</a>
                    </p>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <p></p>
                    <!-- Links -->
                    <h5 class="text-uppercase fw-bold mb-4">
                        <strong>Follow Us</strong>
                    </h5>
                    <p>
                        <a routerLink="/complex-form" class="text-reset">Instagram</a>
                    </p>
                    <p>
                        <a routerLink="/complex-form" class="text-reset">Facebook</a>
                    </p>
                    <p>
                        <a routerLink="/complex-form" class="text-reset">Twitter</a>
                    </p>
                    <p>
                        <a routerLink="/complex-form" class="text-reset">Pinterest</a>
                    </p>
                    <p>
                        <a routerLink="/complex-form" class="text-reset">Youtube</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <p></p>
                    <!-- Links -->
                    <h5 class="text-uppercase fw-bold mb-4">
                        <strong>Follow Us</strong>
                    </h5>
                    <p>
                        <a routerLink="/complex-form" class="text-reset">Sitemap</a>
                    </p>
                    <p>
                        <a routerLink="/complex-form" class="text-reset">Terms & Conditions</a>
                    </p>
                    <p>
                        <a routerLink="/complex-form" class="text-reset">Policy Privacy</a>
                    </p>
                    <p>
                        <a routerLink="/complex-form" class="text-reset">Returns</a>
                    </p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4">
        © 2021 Copyright: Joseph Yvan NOUBICIER
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->